<header class="header">
  <h1 class="site-title" routerLink="/main-page">TT</h1>
  <nav class="navigation-list">
    <ul class="nav-links">
      <li class="link"><a href="#" routerLink="/parks">Parks</a></li>
      <li class="link"><a href="#" routerLink="/campgrounds">Campgrounds</a></li>
      <li class="link"><a href="#" routerLink="/trails">Trails</a></li>
      <li class="link"><a href="https://www.theworldsworstwebsiteever.com/">Activism</a></li>
    </ul>
  </nav>
</header>
<router-outlet></router-outlet>