.title-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.main {
    background-image: url(./backgrounds/matt-thornhill-GpjCysteKvI-unsplash.jpg);
    height: 100vh;
    width: 100%;
    background-position: center;
    background-size: cover;
    background-color: black;
}