
.main {
    background-position: left; 
    background-image: url(./backgrounds/Hiking.jpg), linear-gradient(rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.15));
    background-blend-mode: overlay;
    height: 100vh;
    width: 100%;
    background-size: cover;
}
.title-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 160px;
}
.title {
    font-size: 2.5rem;
    letter-spacing: 5px;
    font-family: 'Playfair Display', serif;
}
.description{
    margin-bottom: 28px;
    font-size: 1.4rem;
    font-family: 'Playfair Display', serif;
}

@media screen and (min-width: 768px) {
.title {
    font-size: 60px;
    letter-spacing: 7px;
}
.description{
    margin-bottom: 160px;
    letter-spacing: 3px;
    font-size: 25px;
    }
}