.search-list-container {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    background-color: #f9f8ed;
    /* z-index: -2 */
}
.trail-map {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
}

.highlight {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 1.75)
}
.trail-list-container{
  display: flex;
  flex-direction: column;
  /* margin-top: 20px; */
  margin-top: 50px;
  margin-bottom: 20px;
  padding: 10px;
  width: 90%;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.404);
  background-color: #f9f8ed;
}
.trails-info-container{
  display: flex;
  padding: 5px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #706A67;
}
.trailName{
  font-size: 1.2rem;
}
.trailInfo{
  margin-left: 40px;
}
.trailLocation{
  font-size: 1.1rem;
}
.trail-images {
  height: 92px;
  width: 150px;
}
.mapDiv{
  width:90%;
  height: 200px;
  margin-top: 20px;
  box-shadow: 0px 10px 10px rgb(0, 0, 0, .26);
}
.mobile{
  margin-top: 20px;
}
.desktop{
  display: none
}
.legend-div {
  background-image: linear-gradient(to right, #f9f8ede7, #f9f8edf6);
  border: 1px solid black;
  box-shadow: 0px 10px 10px rgb(0, 0, 0, .26);
  max-width: 100%;
  padding: 5px;
  border-radius:5px;
  position: fixed;
  z-index: 2;
  justify-content: flex-start;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
 }
 
 .colors, .star-desc {
   margin:1px;
   /* color: #706A67; */
   font-weight: 300 ;
 }
 #green {
   /* color: green; */
   color: black;

   font-weight: 700 ;
 }
 #blue{
  /* color: blue; */
  color: black;

  font-weight: 700 ;
 }
 #black {
   color: black;
   color: black;

   font-weight: 700 ;
 }
 .star-title {
   margin-top: 5px;
 }
 .show-legend-btn{
  border: 0.5px solid #FFB77B;
  background-color: #706A67;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.404);
  color: #FFB77B;
  font-weight: 400;
  text-align: center;
  height: 30px;
  width: 100%;
  border-radius: 2px;
  margin: 5px 0;
}
 .hide-legend-btn{
   background-color: #FFB77B;
   width: 100%;
    border-radius: 2px;
 }

@media screen and (min-width: 768px) {
  .trailName{
    font-size: 1rem;
  }
  .trailLocation{
    font-size: 1.05rem;
    font-weight: 300;
  }
.trail-map {
  flex-direction: row;
  width: 90%;
}
.mapDiv {
  max-width: 59.5vw;
  height: 70vh;
  right: 30px;
  top: 68px;
  position: fixed;
  box-shadow: none
}

.mobile{
  display: none
}
.desktop{
  display: block;
}
.trail-list-container {
  width: 33.5%;
  /* flex: 1; */
  margin-top: 20px;
}
.trailName{
  font-size: .8rem;
}

.trailLocation{
  font-size: .7rem;
}
.trailStars {
  font-size: .6rem;
}
.trails-info-container:hover{
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 1.75)

}
.show-legend-btn{
 height: 40px;
 margin-top: 15px;
}
}