<div class="search-list-container">
  <div class="trail-map">
    <div class="trail-list-container">
      <div #trail class="trails-info-container" *ngFor="let trail of trailsArray; index as i" (click)="openOpenInfo(i)"
        [ngClass]="{highlight: i === highlightIndex}">
        <div class="trail-images">
          <img trail-images *ngIf="trail.imgSmall" src="{{trail.imgSmall}}" alt="image of {{trail.name}} trail"
            width="175px" height="100%">
          <img *ngIf="!trail.imgSmall"
            src="https://stmedia.stimg.co/ows_140804475621318.jpg?fit%5Cu003dcrop%5Cu0026crop%5Cu003dfaces"
            alt="image of {{trail.name}} trail" width="175px" height="100%"
            [ngClass]="{highlight: i === highlightIndex}">
        </div>
        <div class="trailInfo">

          <h1 class="trailName">{{ trail.name }}</h1>
          <h2 class="trailLocation">{{trail.location}}</h2>
          <h3 class="trailStars">Star Rating: {{trail.stars}} out of 5</h3>
        </div>
      </div>

    </div>
    <div class="mapDiv">
      <div class="searchDiv desktop">
        <app-search-form></app-search-form>
      </div>
      <google-map class="gMap" id="map" [center]="center" [zoom]="zoom" [options]="options" width="100%" height="100%">
        <map-marker #markerElem *ngFor="let marker of markers; index as i"
          [options]="{icon: 'http://maps.google.com/mapfiles/ms/icons/ltblue-dot.png'}" [position]="marker.position"
          [title]="marker.title" (mapClick)="openInfo(markerElem, marker.info, i)">
        </map-marker>
        <map-info-window>
          <h1>{{infoContent?.title}}</h1>
          <p *ngIf="infoContent?.summary !== 'Needs Summary'">{{infoContent?.summary}}</p>
          <p>{{infoContent?.length}} miles</p>
          <p>difficulty: {{infoContent?.difficulty}}</p>
          <p>star rating: {{infoContent?.stars}} out of 5 stars</p>
        </map-info-window>
      </google-map>
      <button class="show-legend-btn" (click)=showLegend()>View Trails Legend</button>
    </div>
  </div>
  <div class="searchDiv mobile">
    <app-search-form></app-search-form>
  </div>
  <div class="legend-div" [hidden]='isShow' (click)=showLegend()>
    <div class="trails-legend">
      <div class="trails-legend-colors">
        <h1 class="colors-title">Trail Difficulty:</h1>
        <p class="colors"><span id='green'>green</span>: no obstacles, trail is flat.</p>
        <p class="colors"><span id='green'>green</span><span id='blue'>Blue</span>: some uneven terrain, but trail is
          mostly flat.</p>
        <p class="colors"><span id='blue'>blue</span>: moderate inclines, uneven terrain.</p>
        <p class="colors"> <span id='blue'>blue</span><span id='black'>Black</span>: some rocks and roots, trail has
          steep inclines. </p>
        <p class="colors"><span id='black'>black</span>: steep inclines with tricky terrain.</p>
        <p class="colors"><span id='black'>dblack</span>: very steep inclines with hazardous terrain.</p>
      </div>
      <div class="trails-legend-stars">
        <h1 class="star-title">Star Rating:</h1>
        <p class="star-desc">Star ratings are an average of all votes. Enjoyment and perceived difficulty can differ
          from person to
          person,
          so the rating system is designed to give you a general sense of the communities’ overall opinion</p>
      </div>
    </div>
    <button class="hide-legend-btn" (click)=hideLegend()>Hide Legend</button>
  </div>
</div>
<!-- <div #target>####</div> -->