.search-list-container {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    background-color: #f9f8ed;
    /* z-index: -2 */
}
.trail-map {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
}
/* .highlight {
  border: 1px solid #e78c57;
  box-shadow: 0 0 5px 1px #e78c57;
} */
.highlight {
  border-top: 2px solid #706A67;
  border-right: 2px solid #706A67;
  border-left: 2px solid #706A67;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.404);
}
.trail-list-container{
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 10px;
  width: 90%;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.404);
  background-color: #f9f8ed;
}
.trails-info-container{
  display: flex;
  padding: 5px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #706A67;
}
.trailName{
  font-size: 1.2rem;
}
.trailInfo{
  margin-left: 40px;
}
.trailLocation{
  font-size: 1.1rem;
}
.trail-images {
  height: 92px;
  width: 150px;
}
.mapDiv{
  width:90%;
  height: 200px;
  margin-top: 20px;
  box-shadow: 0px 10px 10px rgb(0, 0, 0, .26);
  /* z-index: -1; */
 
}


.searchDiv{
  margin-top: 20px;
}

/* .google-map iframe{
  position: absolute;
  width: 100% !important;
  height: 100% !important;
} */

@media screen and (min-width: 768px) {
  /* .search-list-container {
    width: 90%;
    justify-content: center;
  } */
.trail-map {
  flex-direction: row;
  width: 90%;
}
 .mapDiv {
   width: 60%;
   height: 70vh;
   right: 30px;
   top: 13.5%;
   position: fixed;
   /* flex: 1 */
 }
.trail-list-container {
  width: 33.5%;
  /* flex: 1; */
}
.trailName{
  font-size: .8rem;
}

.trailLocation{
  font-size: .7rem;
}
.trailStars {
  font-size: .6rem;
}
.trails-info-container:hover{
    border-top: 2px solid #706A67;
    border-right: 2px solid #706A67;
    border-left: 2px solid #706A67;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.404);
}
}