<div class="search-list-container">
  <div class="park-list-container">
    <div class="parks-info-container" *ngFor="let park of parksArray" (click)="addToParkInfo(park)"
      routerLink="/park-info">
      <div class="park-images">
        <img src="{{ park.images[0].url }}" alt="{{ park.images[0].altText }}" width="175px" height="100%">
      </div>
      <div class="parkInfo">
        <h2 class="parkName">{{ park.name }}</h2>
        <h3 class="parkDes">{{park.designation}}</h3>
        <div *ngFor="let parkAddress of park.addresses">
          <h4 *ngIf="parkAddress.type === 'Physical'">{{parkAddress.city}}, {{parkAddress.stateCode}}</h4>
        </div>
      </div>
    </div>
  </div>
  <div class="mapDiv">
    <google-map class="gMap" [center]="center" [zoom]="zoom" [options]="options" width="100%" height="200px">
      <map-marker #markerElem *ngFor="let marker of markers" [position]="marker.position" [title]="marker.title"
        (mapClick)="openInfo(markerElem, marker.info)">
      </map-marker>
      <map-info-window>
        <h1>{{infoContent?.title}}</h1>
      </map-info-window>
    </google-map>
  </div>
  <div class="searchDiv">
    <app-search-form></app-search-form>
  </div>
</div>