.search-list-container {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    background-color: #f9f8ed;
    /* z-index: -2 */
}
.park-map {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
}
.park-list-container{
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 10px;
  width: 90%;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.404);
  background-color: #f9f8ed;
}
.parks-info-container{
  display: flex;
  padding: 5px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 2px solid #706A67;
}
.highlight {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 1.75)


}
.parkName{
  font-size: 1.3rem;
}
.parkInfo{
  margin-left: 40px;
}
.parkDes{
  font-size: 1.1rem;
}
.park-images {
  height: 92px;
  width: 150px;
}
.mapDiv{
  width: 100%;
  height: 200px;
  margin-top: 20px;
  box-shadow: 0px 10px 10px rgb(0, 0, 0, .26);
  /* z-index: -1; */
}
.searchDiv{
  margin-top: 20px;
}

/* .google-map iframe{
  position: absolute;
  width: 100% !important;
  height: 100% !important;
} */
@media screen and (min-width: 768px) {
  .mapDiv {
    width: 60%;
    height: 70vh;
    right: 30px;
    top: 131px;
    position: fixed;
  }
  .park-map {
    flex-direction: row;
  width: 90%;
  }
  .park-list-container {
    width: 33.5%;
  }
  .parks-info-container:hover{
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 1.75)

}
  .parkName{
    font-size: .8rem;
  }
  .parkDes{
    font-size: .7rem;
  }
  .parkLoc {
    font-size: .6rem;
  }
}