<app-search-form></app-search-form>
<google-map [center]="center" [zoom]="zoom">
  <map-marker #markerElem *ngFor="let marker of markers" [position]="marker.position" [title]="marker.title"
    (mapClick)="openInfo(markerElem, marker.info)">
  </map-marker>
  <map-info-window>
    <h1>{{infoContent?.title}}</h1>
  </map-info-window>
</google-map>
<ul>
  <li>
    <div *ngFor="let park of parksList">
      <h2 (click)="getTrails(park)" (click)=addToParkInfo(park) routerLink="/park-info">{{ park.name }}</h2>
      <ul>
        <li *ngFor="let activity of park.activities">
          <p>{{ activity.name }}</p>
        </li>
      </ul>
    </div>
  </li>
</ul>