<div class="search-list-container">
  <div class="search-map">
    <div class="park-list-container">
      <div #park class="parks-info-container" *ngFor="let park of parksList; index as i" (click)="getTrails(park)"
        (click)="addToParkInfo(park)" routerLink="/park-info" [ngClass]="{highlight: i === highlightIndex}">
        <div class="park-images">
          <img src="{{ park.images[0].url }}" alt="{{ park.images[0].altText }}" width="175px" height="100%">
        </div>
        <div class="parkInfo">
          <h2 class="parkName">{{ park.name }}</h2>
          <h3 class="parkDes">{{park.designation}}</h3>
          <div *ngFor="let parkAddress of park.addresses">
            <h4 class="parkLoc" *ngIf="parkAddress.type === 'Physical'">{{parkAddress.city}}, {{parkAddress.stateCode}}
            </h4>
          </div>
        </div>
      </div>
    </div>
    <div class="mapDiv">
      <google-map class="gMap" [center]="center" [zoom]="zoom" [options]="options" width="100%" height="100%">
        <map-marker #markerElem *ngFor="let marker of markers; index as i"
          [options]="{icon: 'http://maps.google.com/mapfiles/ms/icons/ltblue-dot.png'}" [position]="marker.position"
          [title]="marker.title" (mapClick)="openInfo(markerElem, marker.info, i)">
        </map-marker>
        <map-info-window>
          <h1>{{infoContent?.title}}</h1>
        </map-info-window>
      </google-map>
    </div>
  </div>
  <div class="searchDiv">
    <app-search-form></app-search-form>
  </div>
</div>