<div class="form-container">
    <form #searchForm="ngForm" (ngSubmit)=submitForm(searchForm)>
        <label for="search"></label>
        <input type="text" id="search" name="search" placeholder="search here" ngModel>
        <button class="btn search-btn">submit</button>
    </form>
</div>
<google-map [center]="center" [zoom]="zoom"></google-map>
<ul>
    <li *ngFor="let park of parksList">
        <h2 (click)="getTrails(park)">{{ park.name }}</h2>
        <ul>
            <li *ngFor="let activity of park.activities">
                <p>{{ activity.name }}</p>
            </li>
        </ul>
    </li>
</ul>