.search-list-container {
    display: flex;
}

/* .park-list-container {
    display: flex;
    justify-content: space-evenly;
} */


.park-box {
    display: flex;
    margin: 5px;
}
.park-images {
    height: 92px;
    width: 150px;
    
}