.form-container {
    display: flex;
    border-top: 0.5px solid #FFB77B;
    border-bottom: 0.5px solid #FFB77B;
    border-left: 0.5px solid #FFB77B;
    border-radius: 2px;
    width: 80vw;
    height: 40px;
    align-items: center;
    background-color: #706A67;
}
.form-container-div{
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.26);
}
.search-btn {
    background-color: #FFB77B;
    color: #706A67;
    border: none;
    height: 100%;
    width: 10%;
}

#search {
    background-color: #706A67;
    color: #fff;
    width: 70%;
    border: none;
    height: 93%;
    padding-left: 5px;
        /* border: 0.5px solid #FFB77B; */
}

#stateSearch {
    color: #FFB77B;
    background-color: #706A67;
    border: none;
    height: 100%;
    width: 20%;
    margin-right: 5px;
    /* border-left: 0.5px solid #FFB77B; */
}

::placeholder {
    color: white;
}

@media screen and (min-width: 768px) {
    .search-btn {
        width: 5%;
    }
    
    #search {
        
        width: 85%;
      
    }
    
    #stateSearch {
        margin-right: 5px;
        width: 10%;
        
    }

}