<div class="campground-info-container" *ngFor="let campgroundInfo of campgroundInfoPageArray">
  <div class="mama-image-container">
    <div class="campground-images-container" *ngFor="let image of campgroundInfo.images">
      <div>
        <img class="campground-images" src="{{image.url}}" alt="{{image.altText}}">
      </div>
    </div>
  </div>
  <div class="campground-info-content">
    <h1 class="campground-title">{{campgroundInfo.name}}</h1>
    <div *ngFor=" let campAddress of campgroundInfo.addresses">
      <h3 class="campground-city" *ngIf="campAddress.type === 'Physical'">{{campAddress.city}},
        {{campAddress.stateCode}}
      </h3>
    </div>
    <h3 class="contacts-title">Contact Information</h3>
    <p class=" campground-number" *ngIf=" campgroundInfo.contacts.phoneNumbers[0].phoneNumber">Phone Number:
      {{ campgroundInfo.contacts.phoneNumbers[0]?.phoneNumber }}
    </p>
    <p class="campground-email" *ngIf="campgroundInfo.contacts.emailAddresses[0]?.emailAddress">Email:
      {{ campgroundInfo.contacts.emailAddresses[0]?.emailAddress }}
    </p>
    <div class=" entrance-fee-container" *ngFor="let fee of campgroundInfo.fees">
      <h3 class="park-fees" *ngIf="fee.cost">Campground Fees</h3>
      <p class="fee-title">{{fee.title}}</p>
      <p class="fee-cost"> <b>Cost:</b> ${{convertToNumber(fee.cost)}}</p>
      <p class="fee-description"> {{fee.description}}</p>
    </div>

    <div class="weekday-hours">
      <h3 class="operation">Hours of Operation</h3>
      <p class="hours description">{{campgroundInfo.operatingHours[0].description}}</p>
      <p class="hours monday"><b>Monday:</b>
        {{campgroundInfo.operatingHours[0].standardHours.monday}}</p>
      <p class="hours tuesday"><b>Tuesday:</b>
        {{campgroundInfo.operatingHours[0].standardHours.tuesday}}</p>
      <p class="hours wednesday"><b>Wednesday:</b>
        {{campgroundInfo.operatingHours[0].standardHours.wednesday}}</p>
      <p class="hours thursday"><b>Thursday:</b>
        {{campgroundInfo.operatingHours[0].standardHours.thursday}}</p>
      <p class="hours friday"><b>Friday:</b>
        {{campgroundInfo.operatingHours[0].standardHours.friday}}</p>
      <p class="hours saturday"><b>Saturday:</b>
        {{campgroundInfo.operatingHours[0].standardHours.saturday}}</p>
      <p class="hours sunday"><b>Sunday:</b>
        {{campgroundInfo.operatingHours[0].standardHours.sunday}}</p>
    </div>
    <h3 class="descriptionTitle">Campground Description</h3>
    <p class="campgroundDescription">{{ campgroundInfo.description }}</p>
    <h3 class="reservations">Reservations</h3>
    <p [innerHTML]="campgroundInfo.reservationInfo">{{campgroundInfo.reservationInfo}}</p>
    <a href="{{campgroundInfo.reservationUrl}}" *ngIf="campgroundInfo.reservationUrl">Make a Reservation</a>
    <p class="sites">Number of Available Sites: {{campgroundInfo.numberOfSitesReservable}}</p>
    <div class="activities-list-container">
      <h3 class="amentities-title">Amenities</h3>
      <p class="amentity">Amphitheater: {{ campgroundInfo.amenities.amphitheater }}</p>
      <p class="amentity">Showers: {{ campgroundInfo.amenities.showers }}</p>
      <p class="amentity">Toilets: {{ campgroundInfo.amenities.toilets }}</p>
      <p class="amentity">Laundry: {{ campgroundInfo.amenities.laundry }}</p>
      <p class="amentity">Cell Reception: {{ campgroundInfo.amenities.cellPhoneReception }}</p>
      <p class="amentity">Wifi: {{ campgroundInfo.amenities.internetConnectivity }}</p>
      <p class="amentity">Food Storage Lockers: {{ campgroundInfo.amenities.foodStorageLockers }}</p>

      <p class="amentity">Trash/Recycling: {{ campgroundInfo.amenities.trashRecyclingCollection }}</p>
      <p class="amentity">Dump Station: {{ campgroundInfo.amenities.dumpStation }}</p>
      <p class="amentity">Camp Store: {{ campgroundInfo.amenities.campStore }}</p>
      <p class="amentity">Ice for Sale: {{ campgroundInfo.amenities.iceAvailableForSale }}</p>
      <p class="amentity wood">Firewood for Sale: {{ campgroundInfo.amenities.firewoodForSale }}</p>
      <h3 class="weatherTitle">Weather Overview</h3>
      <p class="campgroundWeather">{{campgroundInfo.weatherOverview}}</p>

      <h3 class="access-title">Accessibility</h3>
      <p class="wheelchair">{{campgroundInfo.accessibility.wheelchairAccess}}</p>
      <p class="ada-info">{{campgroundInfo.accessibility.adaInfo}}</p>

      <h3 class="more-info-title">More Info</h3>
      <p class="more-info"> <b>Fires:</b> {{campgroundInfo.accessibility.fireStovePolicy}}</p>
      <p class="more-info"> <b>RVs:</b> {{campgroundInfo.accessibility.rvInfo}}</p>
    </div>
  </div>
</div>