<div class="campground-info-container" *ngFor="let campgroundInfo of campgroundInfoPageArray">
  <h1 class="campground-info-title">{{campgroundInfo.name}}</h1>
  <p *ngIf="campgroundInfo.contacts.phoneNumber">Phone Number: {{ campgroundInfo.contacts.phoneNumbers[0].phoneNumber }}
  </p>
  <p>Email: {{ campgroundInfo.contacts.emailAddresses[0].emailAddress }}</p>
  <h3>Fees</h3>
  <div *ngFor="let fee of campgroundInfo.fees">
    <h4>{{fee.title}}</h4>
    <!-- need to convert cost string to number  -->
    <p> <b>Cost:</b> ${{fee.cost}}</p>
    <!-- <p> <b>Cost:</b> ${{ {{fee.cost}} | number : 2}}</p> -->

    <p> {{fee.description}}</p>
  </div>
  <div class="weekday-hours">
    <h3>Hours of Operation</h3>
    <p class="hours description">{{campgroundInfo.operatingHours[0].description}}</p>
    <p class="hours monday">Monday: {{campgroundInfo.operatingHours[0].standardHours.monday}}</p>
    <p class="hours tuesday">Tuesday: {{campgroundInfo.operatingHours[0].standardHours.tuesday}}</p>
    <p class="hours wednesday">Wednesday: {{campgroundInfo.operatingHours[0].standardHours.wednesday}}</p>
    <p class="hours thursday">Thursday: {{campgroundInfo.operatingHours[0].standardHours.thursday}}</p>
    <p class="hours friday">Friday: {{campgroundInfo.operatingHours[0].standardHours.friday}}</p>
    <p class="hours saturday">Saturday: {{campgroundInfo.operatingHours[0].standardHours.saturday}}</p>
    <p class="hours sunday">Sunday: {{campgroundInfo.operatingHours[0].standardHours.sunday}}</p>
  </div>
  <p>{{ campgroundInfo.description }}</p>
  <h3>Reservations</h3>
  <p>{{campgroundInfo.reservationInfo}}</p>
  <a href="{{campgroundInfo.reservationUrl}}" *ngIf="campgroundInfo.reservationUrl">Make a Reservation</a>
  <p>Number of Available Sites: {{campgroundInfo.numberOfSitesReservable}}</p>
  <p>HORSES??!!: {{campgroundInfo.campsites.horse}}</p>
  <div class="activities-list-container">
    <h3>Amenities</h3>
    <ul>
      <li>Ampitheater: {{ campgroundInfo.amenities.ampitheater }}</li>
      <li>Showers: {{ campgroundInfo.amenities.showers }}</li>
      <li>Toilets: {{ campgroundInfo.amenities.toilets }}</li>
      <li>Laundry: {{ campgroundInfo.amenities.laundry }}</li>
      <li>Cell Reception: {{ campgroundInfo.amenities.cellPhoneReception }}</li>
      <li>Wifi: {{ campgroundInfo.amenities.internetConnectivity }}</li>
      <li>Food Storage Lockers: {{ campgroundInfo.amenities.foodStorageLockers }}</li>

      <li>Trash/Recycling: {{ campgroundInfo.amenities.trashRecyclingCollection }}</li>
      <li>Dump Station: {{ campgroundInfo.amenities.dumpStation }}</li>
      <li>Camp Store: {{ campgroundInfo.amenities.campStore }}</li>
      <li>Ice for Sale: {{ campgroundInfo.amenities.iceAvailableForSale }}</li>
      <li>Firewood for Sale: {{ campgroundInfo.amenities.firewoodForSale }}</li>

    </ul>
    <h3>Weather</h3>
    <p>Overview: {{campgroundInfo.weatherOverview}}</p>

    <h3>Accessibility</h3>
    <p>{{campgroundInfo.wheelchairAccess}}</p>
    <p>{{campgroundInfo.adaInfo}}</p>

    <h3>More Info</h3>
    <p> <b>Fires:</b> {{campgroundInfo.fireStovePolicy}}</p>
    <p> <b>RVs:</b> {{campgroundInfo.rvInfo}}</p>

    <a href="#" routerLink="/trail-info">Get Trails</a>
    <a href="#" routerLink="/campground-info">Get Campsites</a>

    <p></p>
  </div>
</div>