<div class="search-list-container">
  <div class="campground-list-container">
    <div class="campgrounds-info-container" *ngFor="let campground of campgroundsArray"
      (click)="addToCampgroundInfo(campground)" routerLink="/campground-info">
      <div class="campground-images">
        <img *ngIf="campground.images" src="{{ campground?.images[0].url }}" alt="{{ campground?.images[0].altText }}"
          width="175px" height="100%">
      </div>
      <div class="campgroundInfo">
        <h2 class="campgroundName">{{ campground?.name }}</h2>
        <div *ngFor="let campgroundAddress of campground?.addresses">
          <h4 *ngIf="campgroundAddress.type === 'Physical'">{{campgroundAddress?.city}},
            {{campgroundAddress?.stateCode}}
          </h4>
        </div>
      </div>
    </div>
  </div>
  <div class="mapDiv">
    <google-map class="gMap" [center]="center" [zoom]="zoom" [options]="options" width="100%" height="200px">
      <map-marker #markerElem *ngFor="let marker of markers" [position]="marker.position" [title]="marker.title"
        (mapClick)="openInfo(markerElem, marker.info)">
      </map-marker>
      <map-info-window>
        <h1>{{infoContent?.title}}</h1>
      </map-info-window>
    </google-map>
  </div>
  <div class="searchDiv">
    <app-search-form></app-search-form>
  </div>
</div>