.search-list-container {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    background-color: #f9f8ed;
    /* z-index: -2 */
}
.campground-map {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
}
.campground-list-container{
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 10px;
  width: 90%;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.404);
  background-color: #f9f8ed;
}
.campgrounds-info-container{
  display: flex;
  padding: 5px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #706A67;
}
.highlight {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 1.75)
}
.campgroundName{
  font-size: 1.2rem;
}
.campgroundInfo{
  margin-left: 40px;
}
.campgroundDes{
  font-size: 1.1rem;
}
.campground-images {
  height: 92px;
  width: 150px;
}
.mapDiv{
  width: 90%;
  height: 200px;
  margin-top: 20px;
}
.mobile{
  margin-top: 20px;
}
.desktop{
  display: none
}
.searchDiv{
  margin-top: 20px;
}

@media screen and (min-width: 768px) {
  .mapDiv {
    max-width: 59.5vw;
    height: 70vh;
    right: 30px;
    top: 68px;
    position: fixed;
    box-shadow: none
  }
  .mobile{
    display: none
  }
  .desktop{
    display: block;
  }
  .campground-map {
    flex-direction: row;
    width: 90%;
  }
  .campground-list-container {
    width: 33.5%;
    width: 33.5%;
    margin-top: 20px;
    min-width: 0px;
  }
  .campgrounds-info-container:hover{
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 1.75)

}
  .campgroundName{
    font-size: .8rem;
  }
  .campgroundDes{
    font-size: .7rem;
  }
  .campgroundLoc {
    font-size: .6rem;
  }
}