<header class="header">

  <h1 class="site-title" routerLink="/main-page">T<span id='secondText'><i class="fas fa-campground"></i></span>T</h1>
  <div>
    <i class="fas fa-bars" (click)="toggleClass()"></i>
    <nav class="navigation-list">
      <i class="fas fa-bars navBars" (click)="toggleClass()"></i>
      <ul class="nav-links" [ngClass]="{hidden : hidden}">
        <!-- <div class="navSearch">
          <app-search-form></app-search-form>
        </div> -->
        <li><a class="link" href="#" routerLink="/parks">Parks</a></li>
        <li><a class="link" href="#" routerLink="/campgrounds">Campgrounds</a></li>
        <li><a class="link" href="#" routerLink="/trails">Trails</a></li>
      </ul>
    </nav>
  </div>

</header>