.header {
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    margin: 0;
    background-color: #A6C1AC;
    padding: 5px;
    box-shadow: 0px 5px 1px #00000000;
opacity: 1;
}

.nav-links {
    display: flex;
    justify-content: space-around;
    text-align: center;
    flex-direction: column;
    /* display: none; */

}
.link {
    padding-left: 5px;
    text-align: center;
    text-decoration: none;
    color: black;
    
}
.link:hover {
    color: rgb(41, 40, 40);
    font-size: 17px;
}

.hidden {
    display: none;
}



/* media queries */

@media screen and (min-width: 768px) {
    .fa-bars {
        display: none;
    }
    .nav-links {
        display: flex;
        flex-direction: row;
    }
}
