.header {
    display: flex;
    position: fixed;
    width: 100%;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    margin: 0;
    background-color: #A6C1AC;
    box-shadow: 0px 5px 1px #00000000;
    opacity: 1;
    font-family: 'Playfair Display', serif;
    box-shadow: 0px 10px 10px rgb(0, 0, 0, .26);
}
.site-title{
  font-family: 'Playfair Display', serif;
  padding: 5px;
  font-size: 2rem;
}
.fa-bars{
  padding: 5px;
  font-size: 26px;
}
.navBars{
  display: flex;
  position: absolute;
  right: 0px;
  top:9px;
  z-index: 10;
}
.nav-links {
    height: 100vh;
    display: flex;
    /* min-width: 33%; */
    padding: 0px;
    justify-content: space-around;
    text-align: center;
    align-content: center;
    flex-direction: column;
    position: fixed;
    background-color: #A6C1AC;
    right: 0px;
    top: 0px;
    /* border: #706A67 solid 2px; */
    border-radius: 2px;
    /* padding: 20px; */
    box-shadow: -5px 10px 10px rgba(0, 0, 0, 0.25);
}
/* .navSearch{
  max-width: 15px;
} */
.link {
    font-style: bold;
    font-size: 1.5rem;
    text-align: center;
    text-decoration: none;
    color: black;
    font-family: 'Playfair Display', serif;
    border-bottom: #706A67 solid 2px;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 20px;
    margin-right: 20px;
    padding-top: 10px;
    padding-bottom: 5px;
}

.hidden {
    display: none;
}



/* media queries */

@media screen and (min-width: 768px) {
    .fa-bars {
        display: none;
    }
    .nav-links {
        display: flex;
        flex-direction: row;
    }
    .link:hover {
      color: rgb(41, 40, 40);
      font-size: 17px;
  }
}
