<div class="park-info-container" *ngFor="let parkInfo of parkInfoPageArray">
  <h1 class="park-info-title">{{parkInfo.fullName}}</h1>
  <h2>{{ parkInfo.designation }}</h2>
  <div class="park-images-container" *ngFor="let image of parkInfo.images">
    <div><img class="park-images" src="{{image.url}}" alt="{{image.altText"></div>
  </div>
  <div *ngFor="let parkAddress of parkInfo.addresses">
    <h3 *ngIf="parkAddress.type === 'Physical'">{{parkAddress.city}}, {{parkAddress.stateCode}}</h3>
  </div>
  <p>Phone Number: {{ parkInfo.contacts.phoneNumbers[0].phoneNumber }}</p>
  <p>Email: {{ parkInfo.contacts.emailAddresses[0].emailAddress }}</p>
  <h3>Entrance Fees</h3>
  <div class=" entrance-fee-container" *ngFor="let fee of parkInfo.entranceFees">
      <p>{{fee.title}}</p>
      <p>${{fee.cost}}</p>
      <p>{{fee.description}}</p>

    </div>

    <div class="weekday-hours">
      <h3>Hours of Operation</h3>
      <p class="hours monday">Monday: {{parkInfo.operatingHours[0].standardHours.monday}}</p>
      <p class="hours tuesday">Tuesday: {{parkInfo.operatingHours[0].standardHours.tuesday}}</p>
      <p class="hours wednesday">Wednesday: {{parkInfo.operatingHours[0].standardHours.wednesday}}</p>
      <p class="hours thursday">Thursday: {{parkInfo.operatingHours[0].standardHours.thursday}}</p>
      <p class="hours friday">Friday: {{parkInfo.operatingHours[0].standardHours.friday}}</p>
      <p class="hours saturday">Saturday: {{parkInfo.operatingHours[0].standardHours.saturday}}</p>
      <p class="hours sunday">Sunday: {{parkInfo.operatingHours[0].standardHours.sunday}}</p>
    </div>
    <p>{{ parkInfo.description }}</p>
    <p>{{ parkInfo.weatherInfo }}</p>
    <div class="activities-list-container">
      <h3>Activities</h3>
      <ul>
        <li *ngFor="let activity of parkInfo.activities">
          <p>{{ activity.name }}</p>
        </li>
      </ul>

      <a (click)=getParkTrails(parkInfo)>Get Trails</a>
      <a (click)=getParkCampgrounds(parkInfo)>Get Campsites</a>
    </div>
  </div>